<h1 align=center><font size = 10>Python - Lesson 2</font></h1>

# Overview

Basic python knowledge will be covered today:

1. [Get string length](#Get-string-length)
2. [String Indexing](#String-Indexing)
3. [Find element in string object](#Find-element-in-string-object)
4. [List object](#List-object)
5. [Add/Remove element into List object](#Add/Remove-element-into-List-object)
6. [List indexing](#List-indexing)

<h1 align=center><font size = 5>Get string length</font></h1>

operator - **len()**

### Example:

In [64]:
x = 'I love learning python'
print (len(x))

22

***Question 1*** : 

Caculate the length of "This is a good course"

<h1 align=center><font size = 5>String Indexing</font></h1>

In [27]:
name = 'Michael Jaskson'

 <img src = "./string_indexing.png" width = 600, align = "center"></a>

In [21]:
print (name[0])

M

In [22]:
print (name[8])

J

 <img src = "./string_indexing_neg.png" width = 600, align = "center"></a>

In [30]:
print (name[-9])

l

Multiple characters from a string using slicing<br/>
operator - ":"<br/>
operator - "[Start Index: End Index]"<br/>
Note: the element in End Index is not including.

In [31]:
name[:]

'Michael Jaskson'

In [62]:
name[2:9]

'chael J'

In [35]:
name[-14:-11]

'ich'

***Question 2*** :

"Michael Lee" has a son, 'Tom'.
Create three string objects:
1. store "Michael Lee"
2. store 'Tom'
3. store the last name of "Michael Lee"

Task:
print the full name of Tom

<h1 align=center><font size = 5>Find element in string object</font></h1>

operator - **find()**

### Example:

In [69]:
name = 'Michael Jaskson'
position_1 = name.find('e')
print (position_1)

position_2 = name.find('J')
print (position_2)

5
8

In [70]:
print (name[5])
print (name[8])

e
J

***Question 3*** :

Now, we have a string, name = "Michael Jaskson".<br/>
What is the position of the seocond 'a'

What if?

The element is not existing in the string

In [72]:
name = "Michael Jaskson"
print (name.find('y'))

-1

It will return -1 if the element is not inside the string

<h1 align=center><font size = 5>List object</font></h1>

### Example:

In [73]:
x = []

In [74]:
x = [1,2,3,4,5]
print (x)

[1, 2, 3, 4, 5]

In [75]:
x = ['abc','def','hgi']
print (x)

['abc', 'def', 'hgi']

In [77]:
x = ['abc',1,'def']
print (x)

['abc', 1, 'def']

<h1 align=center><font size = 5>Add/Remove element into List object</font></h1>

Add operator: .append()<br/>
Remove operator: .remove()

### Example:

In [79]:
x = []
print (x)
x.append(1)
print (x)
x.append(2)
print (x)

[]
[1]
[1, 2]

In [80]:
x = [1,2,3,4,5]
print (x)
x.remove(1)
print (x)
x.remove(3)
print (x)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 4, 5]

<h1 align=center><font size = 5>List indexing</font></h1>

<img src = "./list_indexing.png" width = 600, align = "center"></a>

### Example:

In [81]:
x = ["Tom",24,20000]

In [82]:
name = x[0]
age = x[1]
salary = x[2]
print (name)
print (age)
print (salary)

Tom
14
20000

***Question 4*** :

Create a list 'x' , with the following elements: 1, “hello”, 99.

***Question 5*** :

Using the list 'x' from question 4, add a element: 'world' into it.

***Question 6*** :

Using the list 'x' from question 5, remove two elements: 1 and 99.

***Question 7*** :

Using the list 'x' from question 6, print the first two elements of the list.

<h1 align=center><font size = 10>Python - Lesson 3</font></h1>

<h1 align=center><font size = 5>Defining a Function</font></h1>

- a reusable block of code
- break down tasks
- reuse your code

### Example:

In [1]:
def summation(x, y):
    return x + y

In [2]:
a = summation(1, 2)
b = summation(6, 18)

print (a)
print (b)

3
24

### Example:

In [23]:
student_name = 'Jerry'
join_date = '01-02-2011'
expired_day, expired_month, expired_year = date.split('-')
expired_year = str(int(expired_year) + 1)
expired_date = expired_day + '-' + expired_month + '-' + expired_year
text_file = open("student_name.txt", "a")
text_file.write("%s join on %s and expire on %s\n" % (student_name, date, expired_date))
text_file.close()
print ('%s is added into file' % student_name)

Jerry is added into file

In [10]:
def add_name(filename, student_name, join_date):
    text_file = open(filename, "a")
    
    expired_day, expired_month, expired_year = join_date.split('-')
    expired_year = str(int(expired_year) + 1)
    expired_date = expired_day + '-' + expired_month + '-' + expired_year
    
    
    text_file = open("student_name.txt", "a")
    text_file.write("%s join on %s and expire on %s\n" % (student_name, join_date, expired_date))
    text_file.close()
    print ('%s is added into file' % student_name)

In [12]:
add_name("student_name.txt", 'David', '01-02-2011')
add_name("student_name.txt", 'Jennifer', '04-02-2011')
add_name("student_name.txt", 'Ben', '28-04-2011')
add_name("student_name.txt", 'Tom', '24-12-2011')

David is added into file
Jennifer is added into file
Ben is added into file
Tom is added into file