<h1 align=center><font size = 5>In class question</font></h1>

***Question 1*** : 

Assign x =99, y =2<br/>
Use "greater than" operator to determine whether x is greater than y

In [1]:
x = 99
y = 2
if x > y:
    print ('x greater than y')

x greater than y

***Question 2*** : 

Assign x =25, y =25<br/>
Use "greater than or equal to" operator to determine whether x is greater than y

In [3]:
x = 25
y = 25
if x >= y:
    print ('x equal or greater than y')

x equal or greater than y

***Question 3*** : 

Assume we have two varibale x and y<br/>
Create a if else statment to determent whether x is greater than/ equal to/ less than/ y and print the result of the statment.

In [4]:
x = 2
y = 10
if x > y:
    print ('x is greater than y')
else:
    if x == y:
        print ('x is equal to y')
    else:
        if x < y:
            print ('x is less than y')

x is less than y

In [7]:
x = 10
y = 9
if x > y:
    print ('x is greater than y')
elif x == y:
    print ('x is equal to y')
elif x < y:
    print ('x is less than y')

x is greater than y

***Question 4*** : 

use for loop to print 0-5

In [11]:
for i in [1,2,3,4,5]:
    print (i)

1
2
3
4
5

In [10]:
for i in range(0,6):
    print (i)

0
1
2
3
4
5

<h1 align=center><font size = 5>Lesson 3 Exercise</font></h1>

***Question 1***:

print 1-10.<br/>
if the number can be divided by 2, print ('bingo') only rather than the number.

In [13]:
for i in range(1,11):
    if i%2 == 0:
        print ('bingo')
    else:
        print (i)

1
bingo
3
bingo
5
bingo
7
bingo
9
bingo

***Question 2***:

we have a list,<br/>
the_list = [10,20,30,40,50]<br/>
print the element of the list in reverse order<br/>

In [18]:
the_list = [10,20,30,40,50]
list_length = len(the_list) -1
stop = -1
step = -1
for i in range(list_length, stop, step):
    print (the_list[i])

50
40
30
20
10

***Question 3***:

we have a list of some English name,<br/>
the_list = ['Marry','Daniel','Cherry','Boby','David','Damien','Donald','Kate','Hazel','Duncan']<br/>
print the name that starts with letter 'D'<br/>

Method 1

In [19]:
the_list = ['Marry','Daniel','Cherry','Boby','David','Damien','Donald','Kate','Hazel','Duncan']

for name in the_list:
    first_letter = name[0]
    if first_letter == 'D':
        print (name)

Daniel
David
Damien
Donald
Duncan

Method 2

In [21]:
the_list = ['Marry','Daniel','Cherry','Boby','David','Damien','Donald','Kate','Hazel','Duncan']

for name in the_list:
    if name.startswith('D'):
        print (name)

Daniel
David
Damien
Donald
Duncan

Bonus: ***Question 4**:

we have a list of some English name,<br/>
the_list = ['Marry','Daniel','Cherry','Boby','david','Damien','donald','Kate','Hazel','Duncan']<br/>
print the name that starts with letter 'D'<br/>

Method 1

In [22]:
the_list = ['Marry','Daniel','Cherry','Boby','david','Damien','donald','Kate','Hazel','Duncan']

for name in the_list:
    first_letter = name[0]
    if (first_letter == 'D') or (first_letter == 'd'):
        print (name)

Daniel
david
Damien
donald
Duncan

Method 2

In [25]:
the_list = ['Marry','Daniel','Cherry','Boby','david','Damien','donald','Kate','Hazel','Duncan']

for name in the_list:
    name = name.lower()
    first_letter = name[0]
    if (first_letter == 'd'):
        print (name)
        
        
#
for name in the_list:
    first_letter = name[0]
    if (first_letter.lower() == 'd'):
        print (name)

Daniel
david
Damien
donald
Duncan

***Question 5***:

Print multiplication table(1-10) of given number<br/>
let say the number is 3

In [26]:
number = 3
for i in range (1,11):
    print (3*i)

3
6
9
12
15
18
21
24
27
30

***Question 6***:

We have a nested list to store all the employee information of a company.<br/>
The struture of the list is following:<br/>
[[name 1, age 1, salary],<br/>
 [name 2, age 2, salary],<br/>
 [name 3, age 3, salary],<br/>
 ...]
 
The task:
1. print the employee name each by each.
2. print the average age of the employee
3. print the total salary that the company has to pay


the example list will be:<br/>
employees = [['Tom',18, 20000], ['Cherry', 25, 25000], ['Karry' , 21, 30000], ['Steve', 28, 20000], ['Bob', 40, 500000]]

In [27]:
employees = [['Tom',18, 20000], ['Cherry', 25, 25000], ['Karry' , 21, 30000], ['Steve', 28, 20000], ['Bob', 40, 500000]]

all_age = 0
total_salary = 0

for data in employees:
    print (data[0])
    all_age = all_age + data[1]
    total_salary = total_salary + data[2]

average_salary = all_age/len(employees)

print (average_salary)
print (total_salary)

Tom
Cherry
Karry
Steve
Bob
26.4
595000

Bonus: ***Question 7**:

we have a list,<br/>
the_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

loop the string, print the element of the list with the following rules:
1. print it only if the element cannot be divided by 3
2. stop the loop if the element is equal to 11 (not to print 11)

In [39]:
the_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for num in the_list:
    if (num%3 > 0) and num < 11:
        print (num)

1
2
4
5
7
8
10

In [42]:
the_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for num in the_list:
    if num == 11:
        break
    if num%3 > 0:
        print (num)

1
2
4
5
7
8
10

In [41]:
the_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for num in the_list:
    if num%3 == 0:
        continue
    if num == 11:
        break
    print (num)

1
2
4
5
7
8
10